<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %><br>
<%= link_to "Back to all movies", movies_path %>
<hr>

<h2>Search for a movie!</h2>

<%= form_for :movie, url: movies_path, method: :get do |f|%>
  <p>
    <%= f.label :title %>
    <%= f.text_field 'title', value: params[:title] %>
    <%= f.label :director %>
    <%= f.text_field 'director', value: params[:director] %>

    <%= f.submit "search", name: nil %>
  </p>
<% end %>


<% @movies.each do |movie| %>
  <%= image_tag(movie.poster_image) %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3>Score:
  <% if movie.review_average == nil %>
    No reviews yet!
  <% else %>
    <%= movie.review_average %>/10</h3>
  <% end %>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <p>Submitted by: <%= movie.user.firstname %>
<% end %>
